<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login 헤더</title>
</head>
<body>

<header th:fragment="header">
  <a href="/"><h1 th:text="#{title}">백엔드 모의고사(목업)</h1></a>

  <ul>
    <li><a href="/auth/guest-start" th:text="#{page.guest-start}">비회원으로 시작(목업)</a></li>
    <li><a href="/auth/sign-up" th:text="#{page.sign-up}">회원가입(목업)</a></li>
    <li><a href="/auth/sign-in" th:text="#{page.sign-in}" th:class="systemButton_sm">로그인(목업)</a></li>
  </ul>
</header>
</body>
</html>