<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home 헤더</title>
</head>
<body>

<header th:fragment="header">
    <a href="/"><h1 th:text="#{title}">백엔드 모의고사(목업)</h1></a>

    <nav>
        <ul>
            <li><a href="/incorrectNote" th:text="#{page.incorrect-note}">오답노트(목업)</a></li>
            <li><a href="/history" th:text="#{page.history}">히스토리(목업)</a></li>
            <li><a href="/memo" th:text="#{page.memo}">메모장(목업)</a></li>
            <li><a href="/myQuestions" th:text="#{page.my-questions}">나만의 문제 등록(목업)</a></li>
            <li><a href="/exam" th:text="#{page.take-test}" th:class="systemButton_sm">문제풀기(목업)</a></li>
        </ul>
    </nav>

    <div id="profile">
        <div>닉네임</div>

        <ul>
            <li><a href="/users/edit" th:text="#{page.edit-account}">회원정보 수정(목업)</a></li>
            <li>
                <form th:action="@{/sign-out}" method="post">
                    <button th:text="#{page.sign-out}">로그아웃(목업)</button>
                </form>
            </li>
        </ul>
    </div>
</header>
</body>
</html>