<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home 헤더</title>
</head>
<body>

<header th:fragment="header (userId, nickname, isMember)">
    <a href="/"><h1 th:text="#{title}">백엔드 모의고사(목업)</h1></a>

    <p class="임시" th:text="'isMember : ' + ${isMember}"></p>

    <nav>
        <ul>
            <li th:each="menu : ${menus}">
                <a th:text="${menu.value.name}"
                   th:href="@{${menu.value.able} ? |/${menu.key}| : '#'}"
                   th:style="${menu.value.able ? '' : 'pointer-events: none; color: gray; text-decoration: none;'}"></a>
            </li>
        </ul>
    </nav>

    <div id="profile">
        <div th:text="'닉네임 : ' + ${nickname}">닉네임(목업)</div>

        <ul>
            <li><a th:href="@{|/users/edit/${userId}|}" th:text="#{page.edit-account}">회원정보 수정(목업)</a></li>
            <li>
                <form th:action="@{/logout}" method="post">
                    <button th:text="#{page.sign-out}">로그아웃(목업)</button>
                </form>
            </li>
        </ul>
    </div>
</header>
</body>
</html>