<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jihye.backend_mock_exam.repository.menu.incorrectNote.IncorrectNoteMapper">

    <select id="findAllSubjectsWithItem" resultType="subject">
        SELECT s.* FROM subjects s
        JOIN incorrect_note inc ON s.subject_id = inc.subject_id
        WHERE inc.user_id = #{userId} AND s.deleted = FALSE
        GROUP BY s.subject_id
    </select>

    <select id="countOfMyQuestionInIncorrectNote" resultType="int">
        SELECT count(*) FROM incorrect_note
        WHERE user_id = #{userId} AND is_my_question
    </select>

    <select id="levelListOfSubjectInIncorrectNoteWithItem" resultType="int">
        <choose>
            <when test="isMyQuestion == true">
                SELECT DISTINCT l.level FROM my_questions_levels l
                JOIN incorrect_note icn ON l.level = icn.level AND is_my_question = TRUE
                WHERE icn.user_id = #{userId} and l.deleted = false
                ORDER BY level
            </when>

            <otherwise>
                <choose>
                    <when test="subjectId > 0">
                        SELECT DISTINCT l.level FROM levels l
                        JOIN incorrect_note icn ON l.level = icn.level AND l.subject_id = icn.subject_id
                        WHERE icn.user_id = #{userId}
                        AND l.subject_id = #{subjectId}
                        AND l.deleted = false
                        ORDER BY l.level
                    </when>
                    <otherwise>
                        SELECT DISTINCT l.level FROM my_questions_levels l
                        JOIN incorrect_note icn ON l.level = icn.level AND is_my_question = TRUE
                        WHERE icn.user_id = #{userId}
                        AND l.deleted = FALSE

                        UNION

                        SELECT DISTINCT l.level FROM levels l
                        JOIN incorrect_note icn ON l.level = icn.level AND l.subject_id = icn.subject_id
                        WHERE icn.user_id = #{userId}
                        AND l.deleted = FALSE

                        ORDER BY level
                    </otherwise>
                </choose>
            </otherwise>
        </choose>
    </select>

    <select id="findIncorrectNoteById" resultType="incorrectNote">
        SELECT * FROM incorrect_note
        WHERE USER_ID = #{userId} AND QUESTION_ID = #{questionId} AND is_my_question = #{isMyQuestion}
    </select>

    <select id="findIncorrectList" resultType="incorrectNote">
        SELECT i.incorrect_note_id, i.user_id, i.question_id, i.subject_id, i.is_my_question,
            CASE
                WHEN i.is_my_question = TRUE THEN mq.question_text
                ELSE q.question_text
            END AS question_text,
            i.level, date_format(i.created_at, '%Y-%d-%m') AS created_at
        FROM incorrect_note i
        JOIN questions q ON i.question_id = q.question_id
        LEFT JOIN my_questions mq ON i.question_id = mq.question_id
        <where>
            <if test="subjectId > 0">
                AND i.subject_id = #{subjectId}
            </if>
            <if test="subjectId == null">
                AND i.is_my_question = TRUE
            </if>
            <if test="level > 0">
                AND i.level = #{level}
            </if>
            <if test="searchKeyword != null">
                AND q.question_text like CONCAT('%', #{searchKeyword}, '%')
            </if>
            AND i.user_id = #{userId}
        </where>
        ORDER BY incorrect_note_id DESC
        LIMIT ${offset}, ${pageSize}
    </select>
    
    <select id="findIncorrectTotalCount" resultType="int">
        SELECT count(*) FROM incorrect_note i
        JOIN questions q ON i.question_id = q.question_id
        <where>
            <if test="subjectId > 0">
                AND i.subject_id = #{subjectId}
            </if>
            <if test="subjectId == null">
                AND i.is_my_question = TRUE
            </if>
            <if test="level > 0">
                AND i.level = #{level}
            </if>
            <if test="searchKeyword != null">
                AND q.question_text like CONCAT('%', #{searchKeyword}, '%')
            </if>
            AND user_id = #{userId}
        </where>
    </select>

    <delete id="deleteQuestionFromIncorrectNote">
        DELETE FROM incorrect_note
        WHERE question_id = #{questionId} AND is_my_question = #{isMyQuestion}
        AND user_id = #{userId}
    </delete>

    <insert id="insertQuestionFromIncorrectNote">
        INSERT INTO incorrect_note (user_id, question_id, subject_id, is_my_question, level)
        <choose>
            <when test="isMyQuestion == true">
                SELECT #{userId}, question_id, NULL, #{isMyQuestion}, level
                FROM my_questions WHERE user_id = #{userId} AND question_id = #{questionId}
            </when>
            <otherwise>
                SELECT #{userId}, question_id, subject_id, #{isMyQuestion}, level
                FROM questions WHERE question_id = #{questionId}
            </otherwise>
        </choose>
    </insert>
</mapper>