@import "reset.css";
@import "header";
@import "common";

header {border: 1px solid black;}
#wrap {border: 1px solid black;}
section {
  position: relative;
  border: 1px solid black;

  >h2 {
    align-self: flex-start;
    border: 1px solid black;
    font-size: 30px;
    margin-bottom: 10px;
    transform: translate(-50%, -50%);
  }

  // 홈 화면
  >#menuArea {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    outline: 1px solid black;
  }

  // 회원정보 수정
  form {
    margin-bottom: 30px;
    >div {
      display: flex;
      flex-flow: column wrap;
      gap: 5px;

      &.required {
        margin-bottom: 30px;
      } //&.required

      &.optional {
        >div { // 성별선택란
          display: flex;
          gap: 0 10px;

          label {
            width: 395px;
            height: 60px;
            font-size: 14px;
            cursor: pointer;
          }

          input[type="checkbox"]:checked ~ label {
            background-color: $theme-exam;
            border-color: $theme-exam;
            color: $white;
          }
        } // 성별선택란

        >select {
          width: 100%;
        }
      } //&.optional

    } //div

    & + .systemButton_sm {
      position: absolute;
      top: 100%;
      left: 0;
      color: $placeholder;
      border-color: $placeholder;

      &:hover {
        color: $accent-caution;
        border-color: $accent-caution;
      }
    }
  } //form

  // 회원탈퇴
  >div {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    >strong {
      margin-top: 30px;
      margin-bottom: 10px;
      font-family: 'Pretendard-SemiBold';
    }

    >form {
      display: flex;
      flex-flow: column wrap;

      .systemButton_sm {
        &:first-of-type {
          background-color: $accent-caution;
          border-color: $accent-caution;
          color: white;
        }

        &:last-of-type {
          color: $accent-caution;
          border-color: $accent-caution;
        }
      }
    }
  } // div (회원탈퇴)
}

// 문제풀기
#takeTest {

  >form {

    overflow: hidden;
    >#testArea {
      display: flex;
      flex-flow: row nowrap;
      gap: initial;
      width: 100%;

      >.slide-box {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 800px;

        >span { // 현재 문항수
          font-size: 18px;
          margin-bottom: 20px;
        }

        >p {
          font-family: 'Pretendard-SemiBold';

          &:first-of-type { color: $placeholder; } // 주제명 Lv. 레벨
          &:last-of-type { font-size: 20px; } // 문항 내용
        }

        >ul { //보기 목록
          display: flex;
          flex-flow: column wrap;
          gap: 5px;
          margin-top: 15px;

          .systemInput_md {
            border-color: $theme-exam;
            &:hover { transform: scale(1.01); }
          }

          input:checked ~ .systemInput_md {
            border-color: $accent-checked;
            box-shadow: 1px 1px 1px $placeholder;
          }
        } // ul (보기목록)

        .buttons {
          .btn_skip {
            background-color: white;
            border-color: $theme-exam;
            color: $theme-exam;
          }

          .btn_prev {
            background-color: $theme-sub;
            border-color: $theme-sub;
          }
          .btn_next, .btn_submit {
            background-color: $theme-exam;
            border-color: $theme-exam;
          }
        } //.buttons
      }
    }
  } // form>#testArea (slide-wrap)



} // div#takeTest (시험있으면 시험, 없으면 없습니다를 나누는 div)