<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jihye.backend_mock_exam.repository.menu.myQuestions.MyQuestionsMapper">

    <select id="findMyQuestions" resultType="question">
        SELECT * FROM my_questions
        <where>
            AND user_id = #{userId}
            <if test="level != 0">
                AND level = #{level}
            </if>
            <if test="searchKeyword != null">
                AND question_text LIKE CONCAT('%', #{searchKeyword}, '%')
            </if>
            AND deleted = FALSE
        </where>
        ORDER BY question_id DESC
        LIMIT #{offset}, #{pagePerItem}
    </select>

    <select id="myQuestionsTotalCount" resultType="int">
        SELECT count(*) FROM my_questions
        <where>
            AND user_id = #{userId}
            <if test="level != 0">
                AND level = #{level}
            </if>
            <if test="searchKeyword != null">
                AND question_text LIKE CONCAT('%', #{searchKeyword}, '%')
            </if>
            AND deleted = FALSE
        </where>
    </select>

    <select id="findLevelsOfMyQuestion" resultType="int">
        SELECT level FROM my_questions_levels WHERE user_id = #{userId}
    </select>

    <update id="deleteMyQuestionList">
        UPDATE my_questions
        SET deleted = TRUE
        WHERE question_id IN
        <foreach collection="deleteQuestionsId" item="deleteQuestionId" open="(" close=")" separator=",">
            #{deleteQuestionId}
        </foreach>
    </update>

    <select id="findMyQuestionById" resultType="question">
        SELECT * FROM my_questions
        WHERE question_id = #{questionId}
    </select>

    <select id="findMyAnswersByQuestion" resultType="answer">
        SELECT * FROM my_questions_answers
        WHERE my_question_id = #{questionId}
        ORDER BY is_correct DESC, answer_id ASC;
    </select>

    <insert id="insertQuestionOfMyQuestion" useGeneratedKeys="true" keyProperty="questionId">
        INSERT INTO my_questions (user_id, level, question_text) VALUES
        (#{userId}, #{level}, #{questionText});
    </insert>

    <insert id="insertAnswersOfMyQuestion" useGeneratedKeys="true" keyProperty="answerId">
        INSERT INTO my_questions_answers (my_question_id, answer_text, is_correct) VALUES
        <foreach collection="answers" item="answer" separator=",">
            (#{answer.questionId}, #{answer.answerText}, #{answer.isCorrect})
        </foreach>
    </insert>

    <update id="updateQuestionOfMyQuestion">
        UPDATE my_questions SET level = #{level},
        question_text = #{questionText}
        WHERE question_id = #{questionId}
    </update>

    <update id="updateAnswersOfMyQuestion">
        UPDATE my_questions_answers
        SET answer_text = #{answerText}
        WHERE answer_id = #{answerId}
    </update>
    
    <update id="deleteMyQuestionOfDeletedLevel">
        UPDATE my_questions
        SET deleted = TRUE
        WHERE user_id = #{userId} AND LEVEL = #{level}
    </update>

    <delete id="deleteMyQuestionsLevel">
        
    </delete>
</mapper>