<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jihye.backend_mock_exam.repository.menu.myQuestions.MyQuestionsMapper">

    <select id="findMyQuestions" resultType="question">
        SELECT * FROM my_questions
        <where>
            AND user_id = #{userId}
            <if test="level != 0">
                AND level = #{level}
            </if>
            <if test="searchKeyword != null">
                AND question_text LIKE CONCAT('%', #{searchKeyword}, '%')
            </if>
            AND deleted = FALSE
        </where>
        ORDER BY question_id DESC
        LIMIT #{offset}, #{pagePerItem}
    </select>

    <select id="myQuestionsTotalCount" resultType="int">
        SELECT count(*) FROM my_questions
        <where>
            AND user_id = #{userId}
            <if test="level != 0">
                AND level = #{level}
            </if>
            <if test="searchKeyword != null">
                AND question_text LIKE CONCAT('%', #{searchKeyword}, '%')
            </if>
            AND deleted = FALSE
        </where>
    </select>

    <select id="findLevelsOfMyQuestion" resultType="int">
        SELECT * FROM my_questions_levels WHERE user_id = #{userId}
    </select>

    <delete id="deleteMyQuestionList">
        UPDATE my_questions
        SET deleted = TRUE
        WHERE question_id IN
        <foreach collection="list" item="myQuestionsId" open="(" close=")" separator=",">
            #{myQuestionsId}
        </foreach>
    </delete>

    <select id="findMyQuestionById" resultType="question">
        SELECT * FROM my_questions
        WHERE question_id = #{questionId}
    </select>

    <select id="findMyAnswersByQuestion" resultType="answer">
        SELECT * FROM MY_QUESTIONS_ANSWERS
        WHERE MY_QUESTION_ID = #{questionId}
        ORDER BY IS_CORRECT DESC, answer_id asc;
    </select>
</mapper>