<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jihye.backend_mock_exam.repository.menu.myQuestions.MyQuestionsMapper">

    <select id="findMyQuestions" resultType="question">
        SELECT * FROM my_questions
        <where>
            AND user_id = #{userId}
            <if test="level != 0">
                AND level = #{level}
            </if>
            <if test="searchKeyword != null">
                AND question_text LIKE CONCAT('%', #{searchKeyword}, '%')
            </if>
            AND deleted = FALSE
        </where>
        ORDER BY question_id DESC
        LIMIT #{offset}, #{pagePerItem}
    </select>

    <select id="myQuestionsTotalCount" resultType="int">
        SELECT count(*) FROM my_questions
        <where>
            AND user_id = #{userId}
            <if test="level != 0">
                AND level = #{level}
            </if>
            <if test="searchKeyword != null">
                AND question_text LIKE CONCAT('%', #{searchKeyword}, '%')
            </if>
            AND deleted = FALSE
        </where>
    </select>

    <select id="findLevelsOfMyQuestion" resultType="int">
        SELECT level FROM my_questions_levels WHERE user_id = #{userId} AND deleted = FALSE
    </select>

    <select id="findLevelsOfMyQuestionWithItem" resultType="int">
        SELECT DISTINCT l.level
        FROM my_questions_levels l
        JOIN my_questions q ON l.LEVEL = q.LEVEL AND q.deleted = false
        WHERE q.user_id = #{userId} AND l.USER_ID = #{userId} and l.deleted = FALSE
        ORDER BY l.LEVEL asc
    </select>

    <select id="findNumberOfMyQuestion" resultType="int">
        SELECT count(*)
        FROM my_questions
        <where>
            AND user_id = #{userId}
            <if test="level > 0">
                AND level = #{level}
            </if>
        </where>
        AND deleted = FALSE;
    </select>

    <select id="findShuffledMyQuestions" resultType="myQuestion">
        SELECT * FROM my_questions
        <where>
            AND user_id = #{userId}
            <if test="level > 0">
                AND level = #{level}
            </if>
            AND deleted = false
        </where>
        ORDER BY RAND()
        LIMIT #{number}
    </select>

    <select id="findShuffledMyQuestionsAnswers" resultType="answer">
        SELECT * FROM my_questions_answers
        WHERE my_question_id = #{questionId}
        ORDER BY RAND()
    </select>

    <update id="deleteMyQuestionList">
        UPDATE my_questions
        SET deleted = TRUE
        WHERE question_id IN
        <foreach collection="deleteQuestionsId" item="deleteQuestionId" open="(" close=")" separator=",">
            #{deleteQuestionId}
        </foreach>
    </update>

    <select id="findMyQuestionById" resultType="myQuestion">
        SELECT * FROM my_questions
        WHERE question_id = #{questionId}
    </select>

    <select id="findMyAnswersByQuestion" resultType="answer">
        SELECT * FROM my_questions_answers
        WHERE my_question_id = #{questionId}
        ORDER BY is_correct DESC, answer_id ASC;
    </select>

    <select id="findMyQuestionsAnswerById" resultType="answer">
        SELECT * FROM my_questions_answers
        WHERE answer_id = #{answerId}
    </select>

    <insert id="insertQuestionOfMyQuestion" useGeneratedKeys="true" keyProperty="questionId">
        INSERT INTO my_questions (user_id, level, question_text) VALUES
        (#{userId}, #{level}, #{questionText});
    </insert>

    <insert id="insertAnswersOfMyQuestion" useGeneratedKeys="true" keyProperty="answerId">
        INSERT INTO my_questions_answers (my_question_id, answer_text, is_correct) VALUES
        <foreach collection="answers" item="answer" separator=",">
            (#{answer.questionId}, #{answer.answerText}, #{answer.isCorrect})
        </foreach>
    </insert>

    <update id="updateQuestionOfMyQuestion">
        UPDATE my_questions SET level = #{level},
        question_text = #{questionText}
        WHERE question_id = #{questionId}
    </update>

    <update id="updateAnswersOfMyQuestion">
        UPDATE my_questions_answers
        SET answer_text = #{answerText}
        WHERE answer_id = #{answerId}
    </update>
    
    <update id="deleteMyQuestionOfDeletedLevel">
        UPDATE my_questions
        SET deleted = TRUE
        WHERE user_id = #{userId} AND level = #{level}
    </update>

    <update id="deleteMyQuestionsLevel">
        UPDATE my_questions_levels
        SET deleted = TRUE
        WHERE user_id = #{userId} AND level = #{level}
    </update>

    <select id="findMyQuestionsMaximumLevel" resultType="int">
        SELECT level FROM my_questions_levels
        WHERE user_id = #{userId} AND deleted  = false
        ORDER BY LEVEL DESC
        LIMIT 1
    </select>

    <insert id="addMyQuestionsLevel">
        INSERT INTO my_questions_levels (user_id, level) VALUES
        (#{userId}, #{level});
    </insert>
</mapper>