<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.reset-password} + ' | ' + #{title}">비밀번호 재설정 | 백엔드 모의고사(목업)</title>
    <link rel="stylesheet" th:href="@{/css/main/auth.css}">
</head>
<body class="main">
<div class="wrap">
<header th:replace="~{fragment/auth-header :: header}"></header>

<section>
    <h2 th:text="#{page.reset-password}">비밀번호 재설정(목업)</h2>
    <p>가입 시 입력했던 비밀번호 찾기 질문과 답변을 입력하세요</p>

    <form th:action method="post" th:object="${forgotPasswordQuestionDto}">

        <div class="errorclass" th:if="${#fields.hasGlobalErrors()}" th:text="${#fields.globalErrors()}"></div>

        <div>
            <select class="systemInput_lg" id="findPasswordQuestion" th:field="*{findPasswordQuestion}">
                <option th:text="#{label.user.findPasswordQuestion}" value="">비밀번호 찾기 질문(목업)</option>
                <option th:each="question : ${findPasswordQuestions}"
                        th:value="${question.name()}" th:text="${question.questionDetail}">질문내용</option>
            </select>

            <label class="sr-only" for="findPasswordAnswer" th:text="#{label.user.findPasswordAnswer}">답변(목업)</label>
            <input class="systemInput_lg" type="text" id="findPasswordAnswer" th:field="*{findPasswordAnswer}" th:placeholder="#{label.user.findPasswordAnswer}" />

            <div class="errorclass" id="findPasswordQuestionError" th:errors="*{findPasswordQuestion}">비밀번호 찾기 질문 오류 내용</div>
            <div class="errorclass" id="findPasswordAnswerError" th:errors="*{findPasswordAnswer}">비밀번호 찾기 답변 오류 내용</div>
        </div>

        <button class="systemButton_lg" type="submit" th:text="#{button.next}">다음(목업)</button>
    </form>

    <div class="manager">
        <a th:href="@{/auth/sign-up}" th:text="#{page.sign-up}">회원가입(목업)</a>
        <a th:href="@{/auth/sign-in}" th:text="#{page.sign-in}">로그인(목업)</a>
    </div>
</section>
</div>
</body>
</html>