<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.reset-password} + ' | ' + #{title}">비밀번호 재설정 | 백엔드 모의고사(목업)</title>
</head>
<body>
<div class="wrap">
<header th:replace="~{fragment/auth-header :: header}"></header>

<section>
    <h2 th:text="#{page.reset-password}">비밀번호 재설정(목업)</h2>
    <p>비밀번호를 찾고자 하는 아이디를 입력해주세요</p>

    <form th:action method="post" th:object="${forgotPasswordIdDto}">
        <div th:errors="*{accountId}"></div>

        <label for="accountId" th:text="#{label.user.accountId}"></label>
        <input type="text" id="accountId" th:field="*{accountId}" th:placeholder="#{label.user.accountId}" required />

        <button type="submit" th:text="#{button.next}">다음(목업)</button>
    </form>

    <div class="authManager">
        <a th:href="@{/auth/sign-up}" th:text="#{page.sign-up}">회원가입(목업)</a>
        <a th:href="@{/auth/sign-in}" th:text="#{page.sign-in}">로그인(목업)</a>
    </div>

</section>
</div>

</body>
</html>