<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.guest-start} + ' | ' + #{title}">비회원으로 시작 | 백엔드 모의고사(목업)</title>
</head>
<body>
<div class="wrap">
<header th:replace="~{fragment/auth-header :: header}"></header>

<section>
    <h2 th:text="#{page.guest-start} + '하기'">비회원으로 시작하기(목업)</h2>

    <form th:action method="post" th:object="${GuestStartDto}">
        <label for="nickname" th:text="#{label.user.nickname}">닉네임(목업)</label>
        <input type="text" id="nickname" th:field="*{nickname}" th:placeholder="#{label.user.nickname}" required/>

        <button type="submit" th:text="#{page.guest-start}">비회원으로 시작(목업)</button>
    </form>

</section>
</div>

</body>
</html>