<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.reset-password} + ' | ' + #{title}">비밀번호 재설정 | 백엔드 모의고사(목업)</title>
</head>
<body>
<div id="wrap">
<header th:replace="~{fragment/auth-header :: header}"></header>

<section>
    <h2 th:text="#{page.reset-password}">비밀번호 재설정(목업)</h2>
    <p>새로운 비밀번호를 입력해주세요</p>

    <form th:action method="post" th:object="${resetPasswordDto}">

        <div>
            <label for="password" th:text="'새 ' + #{label.user.password}">비밀번호(목업)</label>
            <input type="password" id="password" th:field="*{password}" th:placeholder="'새 ' + #{label.user.password}" />
            <p th:errors="*{password}">비밀번호 오류 내용</p>

            <label for="passwordCheck" th:text="'새 ' + #{label.user.passwordCheck}">비밀번호 확인(목업)</label>
            <input type="password" id="passwordCheck" th:field="*{passwordCheck}" th:placeholder="'새 ' + #{label.user.passwordCheck}" />
            <p th:errors="*{passwordCheck}">비밀번호 확인 오류 내용</p>
        </div>

        <button type="submit" th:text="#{button.save}">저장(목업)</button>
    </form>

    <div class="authManager">
        <a th:href="@{/auth/sign-up}" th:text="#{page.sign-up}">회원가입(목업)</a>
        <a th:href="@{/auth/sign-in}" th:text="#{page.sign-in}">로그인(목업)</a>
    </div>
</section>
</div>
</body>
</html>