<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.sign-up} + ' | ' + #{title}">회원가입 | 백엔드 모의고사</title>
    <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/auth/sign-up.js}"></script>
    <script th:src="@{/js/createBirthYears.js}"></script>
</head>
<body>
<div class="wrap">
<header th:replace="~{fragment/auth-header :: header}"></header>

<section>
    <h2 th:text="#{page.sign-up}">회원가입(목업)</h2>

    <form action th:action th:object="${signUpDto}" method="post">

        <div class="required">
            <p>필수항목 (*)</p>
            <label for="accountId" th:text="#{label.user.accountId}">아이디(목업)</label>
            <input type="text" id="accountId" th:field="*{accountId}" th:placeholder="#{label.user.accountId}" required />
            <div id="accountIdError" th:text="${#fields.errors('accountId').size() > 0 ? #fields.errors('accountId').get(0) : ''}">아이디 오류 내용</div>

            <label for="nickname" th:text="#{label.user.nickname}">닉네임(목업)</label>
            <input type="text" id="nickname" th:field="*{nickname}" th:placeholder="#{label.user.nickname}" required />
            <div id="nicknameError" th:errors="*{nickname}">닉네임 오류 내용</div>

            <label for="password" th:text="#{label.user.password}">비밀번호(목업)</label>
            <input type="password" id="password" th:field="*{password}" th:placeholder="#{label.user.password}" required />

            <label for="passwordCheck" th:text="#{label.user.passwordCheck}">비밀번호 확인(목업)</label>
            <input type="password" id="passwordCheck" th:field="*{passwordCheck}" th:placeholder="#{label.user.passwordCheck}" required />
            <div id="passwordError" th:errors="*{password}">비밀번호 오류 내용</div>
            <div id="passwordCheckError" th:errors="*{passwordCheck}">비밀번호 확인 오류 내용</div>

            <label for="findPasswordQuestion" th:text="#{label.user.findPasswordQuestion}">비밀번호 찾기 질문</label>
            <select id="findPasswordQuestion" th:field="*{findPasswordQuestion}">
                <option th:text="#{label.user.findPasswordQuestion}" value="">비밀번호 찾기 질문(목업)</option>
                <option th:each="question : ${findPasswordQuestions}"
                        th:value="${question.name()}" th:text="${question.questionDetail}">질문내용</option>
            </select>

            <label for="findPasswordAnswer" th:text="#{label.user.findPasswordAnswer}">답변(목업)</label>
            <input type="text" id="findPasswordAnswer" th:field="*{findPasswordAnswer}" th:placeholder="#{label.user.findPasswordAnswer}" required />

            <div id="findPasswordQuestionError" th:errors="*{findPasswordQuestion}">비밀번호 찾기 질문 오류 내용</div>
            <div id="findPasswordAnswerError" th:errors="*{findPasswordAnswer}">비밀번호 찾기 답변 오류 내용</div>
        </div>

        <div class="optional">
            <p>선택항목</p>
            <div>
                <span>
                    <input type="checkbox" id="male" th:field="*{gender}" th:value="male" />
                    <label for="male" th:text="#{label.user.gender.male}">남성(목업)</label>
                </span>
                <span>
                    <input type="checkbox" id="female" th:field="*{gender}" th:value="female" />
                    <label for="female" th:text="#{label.user.gender.female}">여성(목업)</label>
                </span>
            </div>


            <select id="birthYear" th:field="*{birthYear}">
                <option th:text="#{label.user.birthYear}" value="">출생년도(목업)</option>
            </select>
        </div>

        <button type="button" th:text="#{button.cancel}" th:onclick="javascript:history.back()">취소(목업)</button>
        <button type="submit" th:text="#{page.sign-up}">회원가입(목업)</button>
    </form>
</section>

</div>
</body>
</html>