<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.edit-account} + ' | ' + #{title}">회원정보 수정 | 백엔드 모의고사(목업)</title>
    <script th:src="@{/js/createBirthYears.js}"></script>
</head>
<body>
<div class="wrap">
<header th:replace="~{fragment/home-header :: header (${user.userId}, ${user.nickname}, ${isMember})}"></header>

<section>
    <h2 th:text="#{page.edit-account}">회원정보 수정(목업)</h2>

    <div th:if="${status == 'edit-success'}">
        <h3>회원정보가 성공적으로 수정되었습니다!</h3>
    </div>

    <form th:action method="post" th:object="${editAccountDto}">

        <div class="required">
            <p>필수항목 (*)</p>
            <label for="nickname" th:text="#{label.user.nickname}">닉네임(목업)</label>
            <input type="text" id="nickname" th:field="*{nickname}" th:placeholder="#{label.user.nickname}" required />
            <div id="nicknameError" th:errors="*{nickname}">닉네임 오류 내용</div>

            <label for="accountId" th:text="#{label.user.accountId}">아이디(목업)</label>
            <input type="text" id="accountId" th:field="*{accountId}" th:placeholder="#{label.user.accountId}" readonly />
            <div id="accountIdError" th:text="${#fields.errors('accountId').size() > 0 ? #fields.errors('accountId').get(0) : ''}">아이디 오류 내용</div>

            <label for="password" th:text="#{label.user.password}">비밀번호(목업)</label>
            <input type="password" id="password" th:field="*{password}" th:placeholder="#{label.user.password}" required />
        </div>

        <div class="optional">
            <p>선택항목</p>
            <div>
                <span>
                    <input type="checkbox" id="male" th:field="*{gender}" th:value="male" />
                    <label for="male" th:text="#{label.user.gender.male}">남성(목업)</label>
                </span>
                <span>
                    <input type="checkbox" id="female" th:field="*{gender}" th:value="female" />
                    <label for="female" th:text="#{label.user.gender.female}">여성(목업)</label>
                </span>
            </div>

            <select id="birthYear" th:field="*{birthYear}">
                <option th:text="#{label.user.birthYear}" value="">출생년도(목업)</option>
            </select>
        </div>

        <button type="button" th:text="#{button.cancel}" th:onclick="javascript:history.back()">취소(목업)</button>
        <button type="submit" th:text="#{button.modify}">수정(목업)</button>
    </form>

    <a th:href="@{|/users/delete/${userId}|}" th:text="#{button.delete-account}">회원 탈퇴하기(목업)</a>
</section>
</div>

<script>

</script>
</body>
</html>