<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.home} + ' | ' + #{title}"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div class="wrap">
<header th:replace="~{fragment/home-header :: header (${user.userId}, ${user.nickname}, ${isMember})}"></header>

<section>
    <h2 th:text="#{page.home}">홈(목업)</h2>

    <ul id="menuArea">
        <li th:each="menu : ${menus}">
            <a class="systemMenu_lg" th:text="${menu.value.name}"
               th:href="@{${menu.value.able} ? |/${menu.key}| : '#'}"
               th:style="${menu.value.able ? '' : 'pointer-events: none; border-color: #CCC; color: #CCC;'}"></a>
        </li>
    </ul>
</section>
</div>
</body>
</html>