<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.welcome} + ' | ' + #{title}"></title>
    <link rel="stylesheet" th:href="@{/css/main/auth.css}">
    <style>
        :root { --theme-main: [[${themeColor}]]; }
    </style>
</head>
<body>
<div class="wrap">
    <div id="welcome">
        <div id="welcomeText">
            <h1>
                백엔드<br />
                기술면접 모의고사
            </h1>
            <p>
                <span>GitHub</span>
                <a href="https://github.com/EJH506/backend-mock-exam" target='_blank'>https://github.com/EJH506/backend-mock-exam</a>
            </p>
            <p>
                <span>Contect</span>
                <span>devfortm@gmail.com</span>
            </p>
        </div>

        <ul id="buttons">
            <li>
                <a th:class="systemButton_lg" th:href="@{/auth/sign-in}" th:text="#{page.sign-in}">로그인(목업)</a>
            </li>
            <li>
                <a th:class="systemButton_lg" th:href="@{/auth/sign-up}" th:text="#{page.sign-up}">회원가입(목업)</a>
            </li>
            <li>
                <a th:class="systemButton_lg" th:href="@{/auth/guest-start}" th:text="#{page.guest-start}">비회원으로 시작(목업)</a>
            </li>
        </ul>
    </div>

</div>
</body>
</html>