<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jihye.backend_mock_exam.repository.user.UserMapper">
    <insert id="userSave" useGeneratedKeys="true" keyProperty="userId">
        insert into users (account_id, nickname, password_hash, find_password_question, find_password_answer, gender, birth_year)
        values (#{accountId}, #{nickname}, #{passwordHash}, #{findPasswordQuestion}, #{findPasswordAnswer}, #{gender}, #{birthYear})
    </insert>

    <select id="isIdExists" resultType="boolean">
        select count(*) > 0
        from users
        where account_id = #{accountId}
    </select>
</mapper>