<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.incorrect-note} + ' | ' + #{title}">오답노트 | 백엔드 모의고사</title>
</head>
<body>
<div class="wrap">
<header th:replace="~{fragment/home-header :: header (${user.userId}, ${user.nickname}, ${isMember})}"></header>

<section>
    <h2 th:text="#{page.incorrect-note}">오답노트(목업)</h2>
    <p>문제의 주제를 선택해 주세요</p>

    <ul>
        <li><a th:href="@{|/incorrect-note/list?subject=#{page.incorrectSubject.all}|}" th:text="#{page.incorrectSubject.all}">전체(목업)</a></li>
        <li th:each="subject : ${subjects}"><a th:href="@{|/incorrect-note/list?subject=${subject}|}" th:text="${subject}">주제명</a></li>
    </ul>
</section>
</div>
</body>
</html>