<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.take-exam} + ' | ' + #{title}">문제풀기 | 백엔드 모의고사</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div class="wrap">
<header th:replace="~{fragment/home-header :: header (${user.userId}, ${user.nickname}, ${isMember})}"></header>

<section>
    <h2 th:text="${subject} + ' Lv. ' + ${level}">네트워크 Lv. 2(목업)</h2>
    <p>출제 문항 수를 선택해주세요</p>

    <ul id="menuArea">
        <li><a class="systemMenu_lg" th:href="@{|/exam/take-exam?subject=${subject}&level=${level}&number=${numberOfSubject}|}" th:text="'전체 (' + ${numberOfSubject} + '문항)'">전체 (n문항)(목업)</a></li>
        <li th:each="number : ${selectableNumbers}"><a class="systemMenu_lg" th:href="@{|/exam/take-exam?subject=${subject}&level=${level}&number=${number}|}" th:text="${number} + '문항'">5문항(목업)</a></li>
    </ul>
</section>
</div>
</body>
</html>