<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.take-exam} + ' | ' + #{title}">문제풀기 | 백엔드 모의고사</title>
    <link rel="stylesheet" th:href="@{/css/main/main.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <style>
        :root { --theme-main: [[${themeColor}]]; }
    </style>
</head>
<body>
<div class="wrap">
<header th:replace="~{fragment/home-header :: header (${user.userId}, ${user.nickname}, ${isMember})}"></header>

<section>
    <h2>
        <i class="fa-solid fa-chevron-left" th:onclick="javascript:history.back();"></i>
        <span th:text="${subject}">선택한주제명</span>
    </h2>
    <h4>문제의 난이도를 선택해주세요</h4>

    <ul id="menuArea">
        <li><a class="systemMenu_lg" th:href="@{|/exam/number?subject=${subject}&level=#{page.level.all}|}" th:text="#{page.level.all}">전체(목업)</a></li>
        <li th:each="level : ${levels}"><a class="systemMenu_lg" th:href="@{|/exam/number?subject=${subject}&level=${level}|}" th:text="'Lv. ' + ${level}">Lv. 1</a></li>
    </ul>
</section>
</div>
</body>
</html>