<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.take-exam} + ' | ' + #{title}">문제풀기 | 백엔드 모의고사</title>
</head>
<body>
<div class="wrap">
<header th:replace="~{fragment/home-header :: header (${user.userId}, ${user.nickname}, ${isMember})}"></header>

<section>
    <h2 th:text="#{page.take-exam}">문제풀기(목업)</h2>
    <p>문제의 주제를 선택해 주세요</p>

    <ul>
        <li><a th:href="@{|/exam/level?subject=#{param.subject.all}|}" th:text="#{page.subject.all}">통합 문제(목업)</a></li>
        <li th:each="subject : ${subjects}"><a th:href="@{|/exam/level?subject=${subject.subjectId}|}" th:text="${subject.subjectName}">주제명</a></li>
    </ul>
</section>
</div>
</body>
</html>