<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.take-exam} + ' | ' + #{title}">문제풀기 | 백엔드 모의고사</title>
    <link rel="stylesheet" th:href="@{/css/main/main.css}">
    <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/exam/take-exam.js}"></script>
</head>
<body>
<div class="wrap">
<header th:replace="~{fragment/home-header :: header (${user.userId}, ${user.nickname}, ${isMember})}"></header>

<section>
    <h2 th:text="${exam.subject} + ' Lv. ' + ${exam.level == 0 ? '전체' : exam.level}">네트워크 Lv. 2(목업)</h2>

    <div id="takeTest" th:if="${exam.totalQuestionsCount > 0}">
        <form th:action method="post" th:object="${submittedExamDto}">

            <input type="hidden" th:name="userId" th:value="${user.userId}" />
            <input type="hidden" th:name="totalQuestionsCount" th:value="${exam.totalQuestionsCount}" />

            <div id="testArea" th:class="slide-wrap">
                <div class="slide-box" th:each="examItem, stat : ${exam.examItems}">
                    <span th:text="'(' + ${stat.index + 1} + '/' + ${exam.totalQuestionsCount} + ')'">(1/15)</span>
                    <input type="hidden" th:name="questions" th:value="${examItem.question.questionId}">
                    <p class="questionInfo" th:text="${examItem.question.subjectName} + ' Lv. ' + ${examItem.question.level}">네트워크 Lv. 2</p>
                    <p class="questionText" th:text="'(Sid=' + ${examItem.question.subjectId} + ' / Qid=' + ${examItem.question.questionId} + ') ' + ${examItem.question.questionText}">문제내용</p>

                    <ul>
                        <li th:each="answer : ${examItem.answers}">
                            <input class="sr-only" type="checkbox" th:field="*{userAnswers}" th:value="${answer.answerId}">
                            <label class="systemInput_md" th:for="${#ids.prev('userAnswers')}" th:text="'(Qid=' + ${answer.questionId} + ' / Aid=' + ${answer.answerId} + ') ' + ${answer.answerText} + '(' + ${answer.isCorrect} + ')'"></label>
                        </li>
                    </ul>

                    <div class="buttons">
                        <button th:if="${stat.index > 0}" type="button" class="btn_prev systemButton_md" th:text="#{button.prev}">이전</button>
                        <button th:if="${!stat.last}" type="button" class="btn_skip systemButton_md" th:text="#{button.skip}">건너뛰기</button>
                        <button th:if="${!stat.last}" type="button" class="btn_next systemButton_md" th:text="#{button.next}" style="display: none">다음</button>
                        <button th:if="${stat.last}" type="submit" class="btn_submit systemButton_md" th:text="#{button.submit}">제출</button>
                    </div>
                </div>

            </div>
        </form>
    </div>

    <div class="empty" th:if="${exam.totalQuestionsCount == 0}">
        <p>문제가 없습니다</p>
        <a class="systemButton_md" th:href="@{/exam/subject}">다른 문제 풀기</a>
    </div>

</section>
</div>

</body>
</html>