@charset "UTF-8";
@import "../reset.css";
@font-face {
  font-family: "Pretendard-Medium";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Black";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 24px;
}
header > a > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  color: #FFD395;
  font-family: "Pretendard-Bold";
  font-size: 30px;
}
header ul {
  display: flex;
}
header ul > li {
  font-family: "Pretendard-SemiBold";
}
header ul > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
}
header > nav li:hover a {
  color: #FFD395;
}
header #profile {
  position: relative;
}
header #profile > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 20px;
  font-family: "Pretendard-SemiBold";
  background-color: #CCC;
  border-radius: 50%;
  cursor: pointer;
}
header #profile > ul {
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 10px);
  border: 1px solid #CCC;
  border-radius: 5px;
}
header #profile > ul a:hover {
  color: #CCC;
}

@font-face {
  font-family: "Pretendard-Medium";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Black";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
* {
  font-family: "Pretendard-Medium";
  color: #222222;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
  letter-spacing: -2px;
}

.systemInput_lg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 80px;
  padding: 0 24px;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Pretendard-SemiBold";
  background-color: white;
  border: none;
  outline: none;
  border: 3px solid #CCC;
  border-radius: 7px;
}
.systemInput_lg:focus {
  border-color: #FFD395;
}

.systemInput_md {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 60px;
  padding: 0 24px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Pretendard-SemiBold";
  background-color: white;
  border: none;
  outline: none;
  border: 3px solid #CCC;
  border-radius: 7px;
}
.systemInput_md:focus {
  border-color: #FFD395;
}

.systemButton_md {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 395px;
  height: 60px;
  color: #fff;
  font-size: 14px;
  font-family: "Pretendard-SemiBold";
  border: none;
  box-sizing: border-box;
  outline: none;
  border: 3px solid #CCC;
  border-radius: 7px;
  cursor: pointer;
}

.systemButton_lg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 90px;
  color: #fff;
  font-size: 24px;
  font-family: "Pretendard-SemiBold";
  border: none;
  box-sizing: border-box;
  outline: none;
  border: 3px solid #CCC;
  border-radius: 7px;
  cursor: pointer;
}

.systemButton_sm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  color: #CCC;
  font-family: "Pretendard-SemiBold";
  background-color: white;
  border: 3px solid #CCC;
  border-radius: 10px;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}

.navButton_sm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  color: #fff;
  border-radius: 7px;
  background-color: #FFD395;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}

.systemMenu_lg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 395px;
  height: 120px;
  padding: 0 24px;
  box-sizing: border-box;
  font-size: 24px;
  font-family: "Pretendard-SemiBold";
  border: none;
  outline: none;
  border: 3px solid #FFD395;
  cursor: pointer;
  border-radius: 7px;
}
.systemMenu_lg:hover {
  transform: scale(1.05);
}

.fa-solid {
  color: #FFE875;
}

.result-item-container {
  width: 800px;
  padding: 20px 50px;
  font-family: "Pretendard-SemiBold";
  border: none;
  outline: none;
  border: 1px solid #CCC;
  margin: 10px 0 30px;
  border-radius: 5px;
}
.result-item-container > .questionsDetail {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.result-item-container > .questionsDetail > .questionsText {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.result-item-container > .questionsDetail > .questionsText > p {
  color: #CCC;
}
.result-item-container > .questionsDetail > .questionsText > h4 {
  font-family: "Pretendard-Bold";
  font-size: 20px;
  margin-top: 5px;
}
.result-item-container > .questionsDetail > .saveToggle {
  position: absolute;
  right: 0px;
  top: 5px;
  font-size: 20px;
  color: #FFE875;
}
.result-item-container > .answersText > p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.result-item-container > .answersText > p > span {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 50px;
  margin-right: 7px;
}
.result-item-container > .answersText > p > .systemInput_md {
  flex: 1 1 0;
}
.result-item-container > .answersText > p:first-of-type .systemInput_md {
  border-color: #FFD395;
}
.result-item-container > .answersText > p:last-of-type .wrong {
  border-color: #FF6F74;
}
.result-item-container > .answersText > p:last-of-type .correct {
  border-color: #00E6AC;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); /* 구형 브라우저를 위해 사용 */
  clip-path: polygon(0 0, 0 0, 0 0); /* inset(50%) 와 동일한 표현 */
  border: 0;
}

.manager {
  display: flex;
  font-size: 16px;
}
.manager > a {
  display: block;
  padding: 0 7px;
  color: #555;
  border-right: 2px solid #555;
}
.manager > a:last-child {
  border: none;
}

section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 800px;
  margin: 50px auto;
}
section h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard-Bold";
}
section h2 + p {
  font-size: 20px;
}
section p + form {
  margin-top: 10px;
}
section > form {
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
}

.errorclass {
  color: #FF6F74;
  font-family: "Pretendard-SemiBold";
}
.errorclass > p {
  display: flex;
  justify-content: center;
  color: #FF6F74;
  font-family: "Pretendard-SemiBold";
}

div#signup_buttons {
  flex-flow: row wrap;
  gap: 10px;
  margin-top: 20px;
}
div#signup_buttons > button.systemButton_lg {
  border: none;
  background-color: #FFD395;
}
div#signup_buttons > button.systemButton_lg:first-child {
  background-color: #E6E9DE;
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

h3 {
  font-family: "Pretendard-SemiBold";
  font-size: 24px;
  margin: 12px 0;
}

#welcome {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
#welcome > #welcomeText {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 780px;
}
#welcome > #welcomeText > h1 {
  margin-bottom: 50px;
  font-size: 70px;
  font-family: "Pretendard-Black";
  text-shadow: 5px 5px 5px #aaa;
}
#welcome > #welcomeText > p {
  font-size: 24px;
}
#welcome > #buttons {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: flex-end;
  gap: 10px 0;
  width: 420px;
}
#welcome > #buttons > li > .systemButton_lg {
  background-color: #FFD395;
  border: none;
}
#welcome > #buttons > li:last-child > .systemButton_lg {
  background-color: #E6E9DE;
  border: none;
}

section {
  padding-top: 50px;
}
section.signup {
  padding-top: 0;
}
section h2 {
  font-size: 40px;
}
section h2 + p {
  margin: 30px 0;
}
section > form {
  margin: 50px 0;
}
section > form > div {
  display: flex;
  flex-flow: column wrap;
  gap: 5px;
}
section > form .systemButton_lg {
  background-color: #FFD395;
  border-color: #FFD395;
}
section > form > div.required {
  margin-bottom: 30px;
}
section > form > div.required > div {
  display: flex;
  gap: 0 10px;
}
section > form > div.required > div > .requiredItems {
  display: flex;
  flex-flow: column wrap;
  gap: 5px;
}
section > form > div.optional > div {
  display: flex;
  gap: 0 10px;
}
section > form > div.optional > div label {
  cursor: pointer;
}
section > form > div.optional > div input[type=checkbox]:checked ~ label {
  background-color: #FFD395;
  border-color: #FFD395;
  color: #fff;
}
section > form > div.optional > select {
  width: 100%;
}
section #authSuccess {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin-top: 120px;
}
section #authSuccess + .systemButton_lg {
  background-color: #FFD395;
  border-color: #FFD395;
}

/*# sourceMappingURL=auth.css.map */
