<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.memo} + ' | ' + #{title}">메모장 | 백엔드 모의고사</title>
    <link rel="stylesheet" th:href="@{/css/main/main.css}">
    <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/selectItemForDelete.js}"></script>
    <style>
        :root { --theme-main: [[${themeColor}]]; }
    </style>
</head>
<body>
<div class="wrap">
<header th:replace="~{fragment/home-header :: header (${user.userId}, ${user.nickname}, ${isMember})}"></header>

<section>
    <h2 th:text="#{page.memo}">메모장 (목업)</h2>

    <div id="memoListArea">
        <div id="commonManager">
            <div class="buttons normal-mode">
                <p th:if="${memoList.content.size > 0}" class="navButton_sm select-start">메모 선택</p>
                <a class="navButton_sm" th:href="@{/memo/write}">새 메모</a>
            </div>

            <div class="buttons select-mode" style="display: none">
                <p class="navButton_sm select-cancel">선택 취소</p>
                <p class="navButton_sm select-all">전체 선택</p>
                <p class="navButton_sm select-submit" style="display: none">선택 삭제</p>
            </div>
        </div>

        <!-- 일반모드 메모 -->
        <ul id="NormalList" class="memoList" th:if="${memoList.content.size > 0}">
            <li th:each="memo : ${memoList.content}">
                <a class="systemInput_md" th:href="@{|/memo/${memo.memoId}|}">
                    <span class="memo-preview" th:text="${memo.memoText}">모든 국민은 법률이 정하는 바에 의하여 공무담임권을 가진다. 국가는 농업 및 어업을 보호·육성하기 위하여 ...</span>
                    <span class="questionInfo" th:text="${memo.createdAt}">2024-12-09</span>
                </a>
            </li>
        </ul>


        <!-- 선택모드 메모 -->
        <form id="DeleteForm" th:action="@{/memo/delete}" th:object="${memoSelectDeleteDto}" method="post" style="display: none">
            <ul class="memoList" th:if="${memoList.content.size > 0}">
                <li th:each="memo : ${memoList.content}">
                    <input type="checkbox" th:field="*{deleteMemosId}" th:value="${memo.memoId}" />
                    <label class="systemInput_md" th:for="${#ids.prev('deleteMemosId')}">
                        <span class="memo-preview" th:text="${memo.memoText}">모든 국민은 법률이 정하는 바에 의하여 공무담임권을 가진다. 국가는 농업 및 어업을 보호·육성하기 위하여 ...</span>
                        <span class="questionInfo" th:text="${memo.createdAt}">2024-12-09</span>
                    </label>
                </li>
            </ul>
        </form>


        <div class="empty" th:if="${memoList.content.size == 0}">
            <p>메모가 비었습니다</p>
            <a class="systemButton_md" th:href="@{/}" th:text="#{button.go-main}">메인으로(목업)</a>
        </div>

        <ul class="buttons" th:if="${memoList.totalPages > 0}">
            <li th:if="${memoList.hasPrevBlock()}"><a th:href="@{|/memo/list?searchKeyword=${searchKeyword != null ? searchKeyword : ''}&page=${memoList.prevBlockStartPage()}|}" th:text="#{paging.prev}">이전(목업)</a></li>
            <li th:each="i : ${#numbers.sequence(memoList.currentBlock * 5 + 1, memoList.getEndPageOfBlock())}"><a th:href="@{|/memo/list?searchKeyword=${searchKeyword != null ? searchKeyword : ''}&page=${i}|}" th:classappend="${memoList.currentPage == i ? 'text_on' : ''}" th:text="${i}">1(목업)</a></li>
            <li th:if="${memoList.hasNextBlock()}"><a th:href="@{|/memo/list?searchKeyword=${searchKeyword != null ? searchKeyword : ''}&page=${memoList.nextBlockStartPage()}|}" th:text="#{paging.next}">다음(목업)</a></li>
        </ul>

        <form class="searchForm" th:action method="get">
            <label class="sr-only" for="searchKeyword">검색어</label>
            <input type="text" id="searchKeyword" name="searchKeyword" th:value="${searchKeyword != null ? searchKeyword : ''}" th:placeholder="#{text.search.enterSearch}" />
            <button type="submit" th:text="#{button.search}">검색(목업)</button>
        </form>
    </div>


</section>
</div>
</body>
</html>