<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title th:text="#{page.memo} + ' | ' + #{title}">메모장 | 백엔드 모의고사</title>
  <link rel="stylesheet" th:href="@{/css/main/main.css}">
  <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
  <script th:src="@{/js/detailSelectDelete.js}"></script>
  <style>
    :root { --theme-main: [[${themeColor}]]; }
  </style>
</head>
<body>
<div class="wrap">
  <header th:replace="~{fragment/home-header :: header (${user.userId}, ${user.nickname}, ${isMember})}"></header>

  <section>
    <h2 th:text="#{page.memo}">메모장 (목업)</h2>

    <div id="memoArea">
      <div class="buttons">
        <button type="button" class="navButton_sm btn-delete" th:text="#{button.delete}">삭제(목업)</button>
        <a class="navButton_sm btn-edit" th:href="@{|/memo/${memo.memoId}/edit|}" th:text="#{button.modify}">수정(목업)</a>
      </div>

      <div id="viewMemo">
        <div>
          <p th:text="'작성: ' + ${memo.createdAt}">작성: 2024-12-09 11:58:29</p>
          <p th:if="${memo.updateAt != memo.createdAt && memo.updateAt != null}" th:text="'수정: ' + ${memo.updateAt}">수정: 2024-12-10 12:01:34</p>
        </div>

        <pre class="memoTextArea" th:text="${memo.memoText}">
          메모 내용
        </pre>
      </div>

      <a class="systemButton_sm" th:href="@{/memo}" th:text="#{button.go-list}">목록으로</a>
    </div>

    <form th:action="@{/memo/delete}" name="deleteForm" method="post" th:object="${memoSelectDeleteDto}" style="display: none">
      <input type="hidden" th:field="*{deleteMemosId}" />
    </form>
  </section>
</div>
</body>
</html>