<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jihye.backend_mock_exam.repository.menu.exam.ExamMapper">

    <select id="findAllSubjects" resultType="subject">
        SELECT * FROM subjects  WHERE deleted = false
    </select>

    <select id="findAllSubjectsWithItem" resultType="subject">
        SELECT s.*
        FROM subjects s
        JOIN questions q ON s.subject_id = q.subject_id AND q.deleted = FALSE
        WHERE s.deleted = FALSE
        GROUP BY s.SUBJECT_ID
    </select>

    <select id="findSubjectByName" resultType="subject">
        SELECT * FROM subjects WHERE subject_name = #{subjectName}
    </select>

    <select id="findSubjectById" resultType="subject">
        SELECT * FROM subjects WHERE subject_id = #{subjectId}
    </select>

    <select id="findLevelsBySubject" resultType="int">
        SELECT l.level FROM levels l JOIN subjects s ON l.subject_id = s.subject_id WHERE s.subject_name = #{subjectName} AND l.deleted = false
    </select>

    <select id="findLevelsBySubjectWithItem" resultType="int">
        SELECT DISTINCT l.level
        FROM levels l
        JOIN questions q ON l.level = q.level AND l.subject_id = q.subject_id AND q.deleted = false
        WHERE l.subject_id = (SELECT SUBJECT_ID FROM SUBJECTS S WHERE SUBJECT_name = #{subjectName})
        AND l.deleted = false;
    </select>

    <select id="findMinMaxLevel" resultType="int">
        SELECT DISTINCT LEVEL FROM LEVELS WHERE deleted = false ORDER BY LEVEL asc
    </select>

    <select id="findMinMaxLevelWithItem" resultType="int">
        SELECT DISTINCT l.level
        FROM LEVELS l
        JOIN questions q ON q.LEVEL = l.LEVEL AND q.deleted = false
        WHERE l.deleted = false ORDER BY l.LEVEL asc
    </select>

    <select id="findNumberOfSubject" resultType="int">
        SELECT count(*) FROM questions
        <where>
            <if test="level > 0">
                AND level = #{level}
            </if>
            AND subject_id = #{subjectId}
            AND deleted = FALSE;
        </where>
    </select>

    <select id="findNumberOfSubjectAll" resultType="int">
        SELECT
            (SELECT count(*) FROM questions
             <where>
                <if test="level > 0">
                    AND level = #{level}
                </if>
                 AND deleted = false
             </where>)
                +
            (SELECT count(*) FROM my_questions
            <where>
                <if test="level > 0">
                    AND level = #{level}
                </if>
                AND user_id = #{userId}
                AND deleted = false
            </where>)
        AS total
    </select>

    <select id="findQuestionUnitSetting" resultType="int">
        SELECT question_unit FROM question_unit_setting ORDER BY question_unit_id desc LIMIT 1
    </select>

    <select id="findShuffledQuestions" resultType="question">
        SELECT * FROM questions
        <where>
            AND subject_id = #{subjectId}
            <if test="level > 0">
                AND level = #{level}
            </if>
            AND deleted = false
        </where>
        ORDER BY RAND()
        LIMIT #{number}
    </select>

    <select id="findShuffledAllQuestions" resultType="question">
        SELECT * FROM (
            SELECT q.subject_id, s.subject_name, q.question_id, NULL AS user_id, q.level, q.question_text, q.deleted, q.created_at, q.update_at FROM questions q
            JOIN SUBJECTS S ON q.subject_id = s.subject_id
            <where>
                <if test="level > 0">
                    AND level = #{level}
                </if>
                AND q.deleted = false
            </where>

           UNION ALL

           SELECT NULL AS subject_id, NULL AS subject_name, question_id, user_id, level, question_text, deleted, created_at, update_at FROM my_questions
            <where>
                <if test="level > 0">
                    AND level = #{level}
                </if>
                AND user_id = #{userId}
                AND deleted = false
            </where>
        ) AS combined_questions
        ORDER BY RAND()
        LIMIT #{number}
    </select>

    <select id="findShuffledAnswers" resultType="answer">
        SELECT * FROM answers
        WHERE question_id = #{questionId}
        ORDER BY RAND()
    </select>

    <select id="findCorrectAnswerByQuestion" resultType="Long">
        SELECT answer_id FROM answers
        WHERE question_id = #{questionId} AND is_correct = TRUE;
    </select>

    <select id="findQuestionsById" resultType="question">
        SELECT * FROM questions
        WHERE QUESTION_ID = #{questionId}
    </select>

    <select id="findAnswerById" resultType="answer">
        SELECT * FROM answers
        WHERE answer_id = #{answerId}
    </select>

</mapper>