<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jihye.backend_mock_exam.repository.menu.exam.ExamMapper">

    <select id="findAllSubjects" resultType="subject">
        SELECT * FROM subjects
    </select>

    <select id="findSubjectByName" resultType="subject">
        SELECT * FROM subjects WHERE subject_name = #{subjectName}
    </select>

    <select id="findSubjectById" resultType="subject">
        SELECT * FROM subjects WHERE subject_id = #{subjectId}
    </select>
    
    <select id="findLevelsBySubject" resultType="int">
        SELECT level FROM levels WHERE subject_id = #{subjectId}
    </select>

    <select id="findMinMaxLevel" resultType="int">
        SELECT DISTINCT LEVEL FROM LEVELS ORDER BY LEVEL asc
    </select>

    <select id="findNumberOfSubject" resultType="Long">
        SELECT count(*) FROM questions
        <where>
            <if test="subjectId > 0">
                subject_id = #{subjectId}
            </if>
            <if test="level > 0">
                AND level = #{level}
            </if>
        </where>
    </select>

    <select id="findQuestionUnitSetting" resultType="int">
        SELECT question_unit FROM question_unit_setting ORDER BY question_unit_id desc LIMIT 1
    </select>

    <select id="findShuffledQuestions" resultType="question">
        SELECT * FROM questions
        <where>
            <if test="subjectId > 0">
                subject_id = #{subjectId}
            </if>
            <if test="level > 0">
                AND level = #{level}
            </if>
        </where>
        ORDER BY RAND()
        LIMIT #{number}
    </select>

    <select id="findShuffledAnswers" resultType="answer">
        SELECT * FROM answers
        WHERE question_id = #{questionId}
        ORDER BY RAND()
    </select>

    <select id="findCorrectAnswerByQuestion" resultType="Long">
        SELECT answer_id FROM answers
        WHERE question_id = #{questionId} AND is_correct = TRUE;
    </select>

    <insert id="saveExamHistory" useGeneratedKeys="true" keyProperty="historyId">
        INSERT INTO exam_history (user_id, subject_name, level, total_questions_count, correct_questions_count, correct_rate)
        VALUES (#{userId}, #{subjectName}, #{level}, #{totalQuestionsCount}, #{correctQuestionsCount}, #{correctRate});
    </insert>

    <select id="findQuestionsById" resultType="question">
        SELECT * FROM questions
        WHERE QUESTION_ID = #{questionId}
    </select>

    <select id="findAnswerById" resultType="answer">
        SELECT * FROM answers
        WHERE answer_id = #{answerId}
    </select>
</mapper>