<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jihye.backend_mock_exam.repository.auth.AuthMapper">

    <insert id="userSave" useGeneratedKeys="true" keyProperty="userId">
        insert into users (account_id, nickname, hashed_password, find_password_question, find_password_answer, gender, birth_year, roles)
        values (#{accountId}, #{nickname}, #{hashedPassword}, #{findPasswordQuestion}, #{findPasswordAnswer}, #{gender}, #{birthYear}, #{roles})
    </insert>

    <select id="isIdExists" resultType="boolean">
        select count(*) > 0
        from users
        where account_id = #{accountId}
    </select>

    <select id="findByLoginId" resultType="user">
        select * from users
        where account_id = #{accountId}
    </select>
    
    <update id="updatePassword">
        update users
        set hashed_password = #{hashedPassword}
        where account_id = #{accountId}
    </update>

</mapper>