<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.my-questions.edit} + ' | ' + #{title}">나만의 문제 수정 | 백엔드 모의고사</title>
    <link rel="stylesheet" th:href="@{/css/main/main.css}">
</head>
<body>

<div class="wrap">
    <header th:replace="~{fragment/home-header :: header (${user.userId}, ${user.nickname}, ${isMember})}"></header>

    <section>
        <h2 th:text="#{page.my-questions.edit}">나만의 문제 수정(목업)</h2>

        <form class="slide-box" method="post" th:action th:object="${myQuestionEditDto}">

            <input type="hidden" name="questionId" th:value="${examItem.question.questionId}">

            <p>문제 출제 시, 보기는 랜덤한 순서로 출력됩니다</p>

            <div id="question-info-input">
                <div>
                    <select class="systemInput_md" disabled>
                        <option th:text="#{page.my-questions}">나만의 문제</option>
                    </select>
                    <select class="systemInput_md" th:field="*{level}">
                        <option th:each="level : ${levels}" th:value="${level}" th:text="'Lv. ' + ${level}">Lv. 2 (목업)</option>
                    </select>
                </div>
                <div th:errors="*{level}" class="errorclass">난이도 에러내용</div>

                <input class="systemInput_md" type="text" placeholder="문제의 질문을 입력하세요" th:field="*{questionText}" />
                <div th:errors="*{questionText}" class="errorclass">질문 에러내용</div>
            </div>

            <ul>
                <li>
                    <input type="hidden" th:field="*{correctAnswer.answerId}" />
                    <input class="systemInput_md" type="text" placeholder="정답" th:field="*{correctAnswer.answerText}" />
                </li>
                <li>
                    <input type="hidden" th:field="*{wrongAnswer1.answerId}" />
                    <input class="systemInput_md" type="text" placeholder="오답" th:field="*{wrongAnswer1.answerText}" />
                </li>
                <li>
                    <input type="hidden" th:field="*{wrongAnswer2.answerId}" />
                    <input class="systemInput_md" type="text" placeholder="오답" th:field="*{wrongAnswer2.answerText}" />
                </li>
                <li>
                    <input type="hidden" th:field="*{wrongAnswer3.answerId}" />
                    <input class="systemInput_md" type="text" placeholder="오답" th:field="*{wrongAnswer3.answerText}" />
                </li>
            </ul>

            <div th:if="${#fields.hasGlobalErrors()}" class="errorclass">
                <p class="errorclass" th:each="err : ${#fields.globalErrors().get(0)}" th:text="${err}">전체 오류 메시지</p>
            </div>

            <div class="buttons">
                <a href="javascript:history.back();" class="systemButton_md btn_cancel" th:text="#{button.cancel}">취소(목업)</a>
                <button type="submit" class="systemButton_md btn_submit" th:text="#{button.register}">등록(목업)</button>
            </div>
        </form>


    </section>
</div>
</body>
</html>