<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.my-questions} + ' | ' + #{title}">나만의 문제 | 백엔드 모의고사</title>
    <link rel="stylesheet" th:href="@{/css/main/main.css}">
    <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/detailSelectDelete.js}"></script>
    <style>
        :root { --theme-main: [[${themeColor}]]; }
    </style>
</head>
<body>
<div class="wrap">
    <header th:replace="~{fragment/home-header :: header (${user.userId}, ${user.nickname}, ${isMember})}"></header>

    <section>
        <h2 th:text="#{page.my-questions}">나만의 문제(목업)</h2>

        <div class="slide-box">
            <p class="questionInfo" th:text="'나만의 문제 Lv. ' + ${examItem.question.level}">네트워크 Lv. 2</p>
            <p class="questionText" th:text="${examItem.question.questionText}">문제내용</p>

            <ul>
                <li>
                    <input class="sr-only" type="checkbox" th:value="${examItem.correctAnswer.answerId}" readonly />
                    <label class="systemInput_md" th:text="${examItem.correctAnswer.answerText} + '(' + ${examItem.correctAnswer.isCorrect} + ')'"></label>
                </li>
                <li th:each="answer : ${examItem.answers}">
                    <input class="sr-only" type="checkbox" th:value="${answer.answerId}" readonly />
                    <label class="systemInput_md" th:text="${answer.answerText} + '(' + ${answer.isCorrect} + ')'"></label>
                </li>
            </ul>

            <div class="buttons">
                <a class="systemButton_md btn-delete" th:text="#{button.delete}">삭제(목업)</a>
                <a th:href="@{|/my-questions/${examItem.question.questionId}/edit|}" class="systemButton_md btn-edit" th:text="#{button.edit}">편집(목업)</a>
            </div>

            <a class="systemButton_sm" th:href="@{/my-questions}" th:text="#{button.go-list}">목록으로</a>
        </div>


        <form th:action="@{/my-questions/delete}" name="deleteForm" method="post" th:object="${myQuestionSelectDeleteDto}" style="display: none">
            <input type="hidden" th:field="*{deleteQuestionsId}" />
        </form>
    </section>
</div>
</body>
</html>