<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.my-questions.setting} + ' | ' + #{title}">나만의 문제 구성 편집 | 백엔드 모의고사</title>
    <link rel="stylesheet" th:href="@{/css/main/main.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/myQuestions/my-questions-setting.js}"></script>
    <style>
        :root { --theme-main: [[${themeColor}]]; }
    </style>
</head>
<body>
<div class="wrap">
    <header th:replace="~{fragment/home-header :: header (${user.userId}, ${user.nickname}, ${isMember})}"></header>

    <section>
        <h2 th:text="#{page.my-questions.setting}">나만의 문제 구성 편집(목업)</h2>
        <h4>&lt;나만의 문제&gt; 문제의 난이도 분류를 편집합니다</h4>

        <div id="ajax-container">
            <ul id="menuArea" class="my-question-menu" th:fragment="my-question-menu">
                <li class="systemMenu_lg" th:text="#{page.level.all}">전체(목업)</li>
                <li th:each="level, stat : ${levels}" class="systemMenu_lg">
                    <p th:text="'Lv. ' + ${level}"></p>
                    <i th:if="${stat.last}" class="fa-solid fa-circle-xmark" th:data-level="${level}"></i>
                </li>
                <li class="systemMenu_lg add-button"><i class="fa-solid fa-circle-plus"></i></li>
            </ul>
        </div>
    </section>
</div>
</body>
</html>