<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.history} + ' | ' + #{title}">히스토리 | 백엔드 모의고사(목업)</title>
    <link rel="stylesheet" th:href="@{/css/main/main.css}">
</head>
<body>
<div class="wrap">
<header th:replace="~{fragment/home-header :: header (${user.userId}, ${user.nickname}, ${isMember})}"></header>

<section>
    <h2 th:text="#{page.history}">히스토리</h2>

    <ul id="historyList" th:if="${histories.content.size > 0}">
        <li th:each="history : ${histories.content}">
            <p class="questionInfo" th:text="'ID: ' + ${history.getHistoryId()}">ID: 624352(목업)</p>
            <a class="systemInput_md" th:href="@{|/history/${history.historyId}|}">
                <div class="historyInfo">
                    <p th:text="${history.createdAt}">2024-12-11</p>
                    <p th:text="${history.subjectName} + ' / Lv. ' + ${history.level == 0 ? '전체' : history.level}">네트워크 / Lv. 2</p>
                </div>
                <p th:text="'정답률 ' + ${history.correctRate} + '%'">정답률 73.3%</p>
                <p th:text="${history.totalQuestionsCount} + '문항'">15문항</p>
            </a>
        </li>
    </ul>

    <div class="empty" th:if="${histories.content.size == 0}">
        <p>히스토리가 비었습니다</p>
        <a class="systemButton_md" th:href="@{/}" th:text="#{button.go-main}">메인으로(목업)</a>
    </div>

    <ul class="buttons" th:if="${histories.totalPages > 0}">
        <li th:if="${histories.hasPrevBlock()}"><a th:href="@{|/history?page=${histories.prevBlockStartPage()}|}" th:text="#{paging.prev}">이전(목업)</a></li>
        <li th:each="i : ${#numbers.sequence(histories.currentBlock * 5 + 1, histories.getEndPageOfBlock())}"><a th:href="@{|/history?page=${i}|}" th:classappend="${histories.currentPage == i ? 'text_on' : ''}" th:text="${i}">1(목업)</a></li>
        <li th:if="${histories.hasNextBlock()}"><a th:href="@{|/history?page=${histories.nextBlockStartPage()}|}" th:text="#{paging.next}">다음(목업)</a></li>
    </ul>

</section>
</div>
</body>
</html>