
@font-face {
  font-family: 'Pretendard-Medium';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Black';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

// 테마색상
$theme-main: #71B961;
$theme-exam: #71B961;
$theme-incorrectNote: #FFD395;
$theme-admin: #544D4D;
$theme-history: #F5B7B1;
$theme-memo: #B3CDE0;
$theme-myQuestion: #A2BFF7;
$theme-sub: #E6E9DE;

// 강조색상
$accent-caution: #FF6F74;
$accent-correct: #00E6AC;
$accent-admin: #CDBBB6;
$accent-checked: #9ACDFF;

// 아이콘
$icon-star: #FFE875;

// 원시색상
$black: #222222;
$white: #fff;
$deep-gray: #555555;
$placeholder: #CCC;

.incorrectNote {
  $theme-main: #FFD395;
}

* {
  font-family: 'Pretendard-Medium';
  color: $black;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
  letter-spacing: -2px;
}

.systemInput_lg { // auth용
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 80px;
  padding: 0 24px;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Pretendard-SemiBold';
  background-color: white;
  border: none;
  outline: none;
  border: 3px solid $placeholder;

  &:focus {
    border-color: $theme-main;
  }

  border-radius: 7px;
}

.systemInput_md { // user용 긴거 & 문제 보기용
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 60px;
  padding: 0 24px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Pretendard-SemiBold';
  background-color: white;
  border: none;
  outline: none;
  border: 3px solid $placeholder;

  &:focus {
    border-color: $theme-main;
  }

  border-radius: 7px;
}

.systemButton_md { // 회원가입수정, 로그인 이후 모든 등록,수정, 삭제, 취소, 다음 등
  display: flex;
  justify-content: center;
  align-items: center;
  width: 395px;
  height: 60px;
  color: $white;
  font-size: 14px;
  font-family: 'Pretendard-SemiBold';
  border: none;
  box-sizing: border-box;
  outline: none;
  border: 3px solid $placeholder;
  border-radius: 7px;
  cursor: pointer;
}
.systemButton_lg { // 로그인, 회원가입 등 auth용
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 90px;
  color: $white;
  font-size: 24px;
  font-family: 'Pretendard-SemiBold';
  border: none;
  box-sizing: border-box;
  outline: none;
  border: 3px solid $placeholder;
  border-radius: 7px;
  cursor: pointer;
}

.systemButton_sm { // 목록으로, 회원탈퇴하기 등
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  color: $placeholder;
  font-family: 'Pretendard-SemiBold';
  background-color: white;
  border: 3px solid $placeholder;
  border-radius: 10px;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}

.navButton_sm { // nav의 작은버튼
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  color: $white;
  border-radius: 7px;
  background-color: $theme-main;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}

.systemMenu_lg { // home에서 범용 메인으로 쓰이는 것
  display: flex;
  justify-content: center;
  align-items: center;
  width: 395px;
  height: 120px;
  padding: 0 24px;
  box-sizing: border-box;
  font-size: 24px;
  font-family: 'Pretendard-SemiBold';
  border: none;
  outline: none;
  border: 3px solid $theme-main;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }

  border-radius: 7px;
}

.fa-solid { color: $icon-star; }

// 시험 결과 컨테이너
.result-item-container {
  width: 800px;
  padding: 20px 50px;
  //box-sizing: border-box;
  font-family: 'Pretendard-SemiBold';
  border: none;
  outline: none;
  border: 1px solid $placeholder;
  margin: 10px 0 30px;
  border-radius: 5px;

  >.questionsDetail {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    >.questionsText {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      >p { color: $placeholder; }

      >h4 { // 문항내용
        font-family: 'Pretendard-Bold';
        font-size: 20px;
        margin-top: 5px;
      }
    }

    >.saveToggle {
      position: absolute;
      right: 0px;
      top: 5px;
      font-size: 20px;
    }
  }

  >.answersText {
    >p {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;

      >span {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 50px;
        margin-right: 7px;
      }
      >.systemInput_md { flex: 1 1 0; }

      &:first-of-type .systemInput_md { border-color: $theme-main; }
      &:last-of-type .wrong { border-color: $accent-caution; }
      &:last-of-type .correct { border-color: $accent-correct; }
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0); /* 구형 브라우저를 위해 사용 */
  clip-path: polygon(0 0, 0 0, 0 0); /* inset(50%) 와 동일한 표현 */
  border: 0;
}

.manager {
  display: flex;
  font-size: 16px;

  >a {
    display: block;
    padding: 0 7px;
    color: #555;
    border-right: 2px solid #555;

    &:last-child {
      border: none;
    }
  }
}

section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 800px;
  margin: 50px auto;

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Pretendard-Bold';
  }

  h2 + p {
      font-size: 20px;
  }

  p + form {
    margin-top: 10px;
  }

  >form {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
  }
}

.errorclass {
  color: $accent-caution;
  font-family: 'Pretendard-SemiBold';

  >p {
    display: flex;
    justify-content: center;
    color: $accent-caution;
    font-family: 'Pretendard-SemiBold';
  }
}

div#signup_buttons {
  flex-flow: row wrap;
  gap: 10px;
  margin-top: 20px;

  >button.systemButton_lg {
    border: none;
    background-color: $theme-main;

    &:first-child {
      background-color: $theme-sub;
    }
  }
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

h3 {
  font-family: 'Pretendard-SemiBold';
  font-size: 24px;
  margin: 12px 0;
}