<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.take-exam} + ' | ' + #{title}">문제풀기 | 백엔드 모의고사</title>
    <link rel="stylesheet" th:href="@{/css/main/main.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/admin/admin-exam.js}"></script>
    <style>
        :root { --theme-main: [[${themeColor}]]; }
    </style>
</head>
<body>
<div class="wrap">
<header th:replace="~{fragment/home-header :: header (${user.userId}, ${user.nickname}, ${isMember})}"></header>

<section>
    <h2 th:text="#{page.take-exam}">문제풀기(목업)</h2>
    <h4>주제를 편집합니다</h4>
    <div class="description">
        <p>주제별 이름 및 난이도를 편집하거나, 주제를 추가/삭제할 수 있습니다</p>
    </div>

    <div id="ajax-container">
        <ul id="menuArea" class="admin-menu">
            <li th:each="subject : ${subjects}">
                <a th:class="systemMenu_lg" th:href="@{|/admin/edit?subject=${subject.subjectName}|}">
                    <span th:text="${subject.subjectName}">네트워크</span>
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>

                <i class="fa-solid fa-circle-xmark" th:data-subject="${subject.subjectId}"></i>
            </li>
            <li class="systemMenu_lg add-button"><i class="fa-solid fa-circle-plus"></i></li>
        </ul>
    </div>
</section>
</div>
</body>
</html>