<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.question-setting} + ' | ' + #{title}">문제관리 | 백엔드 모의고사</title>
    <link rel="stylesheet" th:href="@{/css/main/main.css}">
    <style>
        :root { --theme-main: [[${themeColor}]]; }
    </style>
</head>
<body>
<div class="wrap">
<header th:replace="~{fragment/home-header :: header (${user.userId}, ${user.nickname}, ${isMember})}"></header>

<section>
    <h2 th:text="#{page.question-setting}">문제관리(목업)</h2>
    <p>새로운 문제를 등록하거나 기존 문제를 편집합니다</p>

    <ul id="menuArea">
        <li><a class="systemMenu_lg" th:href="@{|/exam/level?subject=#{page.subject.all}|}" th:text="#{page.subject.all}">통합 문제(목업)</a></li>
        <li th:each="subject : ${subjects}"><a class="systemMenu_lg" th:href="@{|/exam/level?subject=${subject.subjectName}|}" th:text="${subject.subjectName}">주제명</a></li>
    </ul>
</section>
</div>
</body>
</html>